html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.table-container {
  margin-top: 10px;
  width: 100%;
  overflow-y: scroll !important;
}

/* .table-container::-webkit-scrollbar {
  display: none;
  } */

table {
  width: 100%;
  border-collapse: collapse;
  border: 0px !important;
}

th {
  padding: 10px;
  border-bottom: 2px solid #18371E;
  /* border-right: 1px solid transparent; */
}
td {
  padding: 10px;
  border-bottom: 1px solid #DDDBDB;
}
tbody tr{
  height: 50px;
}
tbody tr:hover{
  background-color: aliceblue;
}

td input{
  margin-right: 30px;
}

th input{
  margin-right: 33px;
}

button {
  margin-right: 5px;
  padding: 5px 9px;
  border: 2px solid #224880;
  background-color: #F8FFF8;
  color: #224880;
  cursor: pointer;
  border-radius: 6px;
}
button.detail:hover{
  background-color: #224880 !important;
  color: #F8FFF8;
}
button.edit:hover{
  border-color: #007716 !important;
  background-color: #007716 !important;
  color: #F8FFF8;
}
button.delete:hover{
  border-color: #eb1a13 !important;
  background-color: #e4413b !important;
  color: #F8FFF8;
}


.form-check-input{
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 2px solid #C2C5C4;
}

.form-check-input::before{
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: scale(0);
  background-color: #224880 !important;
  }

.form-check-input:checked{
  color: #224880;
  border-color: #224880;
  border: 2px solid #224880;
  background-color: #224880;
}

.checkbox:checked::before{
  transform: scale(1);
}
table{
  border: 0px solid #0F366F;
}

.form-control{
      border: 1px #0F366F solid;
      border-radius: 14px;
      min-width: 280px;
      color: #0F366F;
    }

.btn-outline{
  height: 35px;
  border-radius: 14px;
  border: 1px solid #f77801;
  background-color: white;
  color: #f77801;
}

.btn-outline:hover{
  background-color: #eeebeb !important;
}
.btn-primary{
  border-radius: 14px;
  border: 1px solid #0F366F;
  background-color: #0F366F;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary:hover{
  background-color: #063781 !important;
}